@CHARSET "ISO-8859-1";

html, body {
	font-family:"Tahoma", sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	background-color:#CFD9DF;
}

/* CSS style for header */
.container {
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	display:run-in;
}

@media screen{
  	body>div#flag-image {
   		position:absolute;
  	}
  	body>div#footer-bar{
   		position:fixed;
  	}
 }

.footer-bar {
	position:absolute;
  	bottom:0;
  	left:0;
  	width:100%;
}

.flag-image {
	margin:0px; 
	position:absolute; 
	top:2px; 
	left:auto; 
	right:2px;
}

/* message */
.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 11px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../resources/images/theme/icon/msginfo.png);
}

.message li.errormsg {
	background-image: url(../resources/images/theme/icon/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../resources/images/theme/icon/msgwarn.png);
}

/* page loading */
.loading-screen {
	width:auto; 
	height:auto;	
	background-color:#CCC; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:4000; 
	display:none;
}

.loading-screen-icon {
	background:transparent url('../resources/images/theme/loader/ajax-loader2.gif') no-repeat top left;
	position:absolute;
	width:134px; 
	height:134px; 
	top:50%; 
	left:53%;
	margin-top:-100px; 
	margin-left:-100px;
}
