<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title>LOGIN</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/> -->
<link href="../resources/plugins/font-awesome/css/font-awesome.min.css"
	th:href="@{/resources/plugins/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	href="../resources/plugins/simple-line-icons/simple-line-icons.min.css"
	th:href="@{/resources/plugins/simple-line-icons/simple-line-icons.min.css}"
	rel="stylesheet" type="text/css" />
<link href="../resources/plugins/bootstrap/css/bootstrap.min.css"
	th:href="@{/resources/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link href="../resources/plugins/uniform/css/uniform.default.css"
	th:href="@{/resources/plugins/uniform/css/uniform.default.css}"
	rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../resources/plugins/select2/select2.css"
	th:href="@{/resources/plugins/select2/select2.css}" rel="stylesheet"
	type="text/css" />
<link href="../resources/css/pages/login-soft.css"
	th:href="@{/resources/css/pages/login-soft.css}" rel="stylesheet"
	type="text/css" />
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="../resources/css/components.css"
	th:href="@{/resources/css/components.css}" id="style_components"
	rel="stylesheet" type="text/css" />
<link href="../resources/css/plugins.css"
	th:href="@{/resources/css/plugins.css}" rel="stylesheet"
	type="text/css" />
<link href="../resources/css/layout/layout.css"
	th:href="@{/resources/css/layout/layout.css}" rel="stylesheet"
	type="text/css" />
<link id="style_color" href="../resources/css/layout/darkblue.css"
	th:href="@{/resources/css/layout/darkblue.css}" rel="stylesheet"
	type="text/css" />
<link href="../resources/css/layout/custom.css"
	th:href="@{/resources/css/layout/custom.css}" rel="stylesheet"
	type="text/css" />
<!-- END THEME STYLES -->
<!-- <link rel="shortcut icon" href="favicon.ico"/> -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="index.html"> <!--<img src="../resources/assets/admin/layout/img/logo-big.png" alt=""/>-->
		</a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler"></div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="login-form" th:action="@{/j_spring_security_check}"
			method="post" th:style="${login}?'display: block;':'display: none;'">
			<h3 class="form-title">Login to your account</h3>

			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span> Enter any username and password. </span>
			</div>

			<div class="alert alert-danger" th:if="${loginError}">
				<span th:text="${loginError}"></span>
			</div>

			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Username</label>
				<div class="input-icon">
					<i class="fa fa-user"></i> <input
						class="form-control placeholder-no-fix" type="text"
						autocomplete="off" placeholder="Username" id="j_username"
						name="j_username" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i> <input
						class="form-control placeholder-no-fix" type="password"
						autocomplete="off" placeholder="Password" id="j_password"
						name="j_password" />
				</div>
			</div>
			
			<div class="form-actions">
				<!-- 				<label class="checkbox"> <input type="checkbox" -->
				<!-- 					name="remember" value="1" /> Remember me -->
				<!-- 				</label> -->
				<img alt="" th:src="@{/resources/images/bg/1.jpg}" style="display:none;"/>
				<button type="submit" class="btn blue pull-right">
					Login <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>

			<div class="form-group">
				<h4>Forgot your password ?</h4>
				<p>
					click <a href="javascript:;" id="forget-password"
						style="color: black;"> here </a> to reset your password.
				</p>
			</div>
			<div class="create-account">
				<p>
					Don't have an account yet ?&nbsp; <a href="javascript:;"
						id="register-btn" style="color: black;"> Create an account </a>
				</p>
			</div>
		</form>
		<!-- END LOGIN FORM -->
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="forget-form" action="index.html" method="post">
			<h3>Forget Password ?</h3>
			<p>Enter your e-mail address below to reset your password.</p>
			<div class="form-group">
				<div class="input-icon">
					<i class="fa fa-envelope"></i> <input
						class="form-control placeholder-no-fix" type="text"
						autocomplete="off" placeholder="Email" name="email" />
				</div>
			</div>
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn">
					<i class="m-icon-swapleft"></i> Back
				</button>
				<button type="submit" class="btn blue pull-right">
					Submit <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>
		</form>
		<!-- END FORGOT PASSWORD FORM -->
		<!-- BEGIN REGISTRATION FORM -->
		<form class="register-form" action="/account/user/signup"
			th:action="@{/account/user/signup}" method="post" th:object="${user}"
			th:style="${signup}?'display: block;':'display: none;'">
			<h3>Sign Up</h3>

			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Username</label>
				<div class="input-icon">
					<i class="fa fa-user"></i> <input
						class="form-control placeholder-no-fix" type="text"
						autocomplete="off" placeholder="Username" th:field="*{username}" />

					<div class="alert alert-danger" th:if="${userExists}">
						<span th:text="${userExists}"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i> <input
						class="form-control placeholder-no-fix" type="password"
						autocomplete="off" id="register_password" placeholder="Password"
						th:field="*{password}" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Re-type
					Your Password</label>
				<div class="controls">
					<div class="input-icon">
						<i class="fa fa-check"></i> <input
							class="form-control placeholder-no-fix" type="password"
							autocomplete="off" placeholder="Re-type Your Password"
							name="rpassword" />
					</div>
				</div>
			</div>
			<!-- 		<div class="form-group"> -->
			<!-- 			<label> -->
			<!-- 			<input type="checkbox" name="tnc"/> I agree to the <a href="javascript:;"> -->
			<!-- 			Terms of Service </a> -->
			<!-- 			and <a href="javascript:;"> -->
			<!-- 			Privacy Policy </a> -->
			<!-- 			</label> -->
			<!-- 			<div id="register_tnc_error"> -->
			<!-- 			</div> -->
			<!-- 		</div> -->
			<div class="form-actions">
				<button id="register-back-btn" type="button" class="btn">
					<i class="m-icon-swapleft"></i> Back
				</button>
				<button type="submit" id="register-submit-btn"
					class="btn blue pull-right">
					Sign Up <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>
		</form>
		<!-- END REGISTRATION FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">2014 © SUST CSE. ALL Rights Reserved.</div>
	<!-- END COPYRIGHT -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
	<script src="../resources/plugins/jquery.min.js"
		th:src="@{/resources/plugins/jquery.min.js}" type="text/javascript"></script>
	<script src="../resources/plugins/jquery-migrate.min.js"
		th:src="@{/resources/plugins/jquery-migrate.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/bootstrap/js/bootstrap.min.js"
		th:src="@{/resources/plugins/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/jquery.blockui.min.js"
		th:src="@{/resources/plugins/jquery.blockui.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/uniform/jquery.uniform.min.js"
		th:src="@{/resources/plugins/uniform/jquery.uniform.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/jquery.cokie.min.js"
		th:src="@{/resources/plugins/jquery.cokie.min.js}"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script
		src="../resources/plugins/jquery-validation/js/jquery.validate.min.js"
		th:src="@{/resources/plugins/jquery-validation/js/jquery.validate.min.js}"
		type="text/javascript"></script>
	<script
		src="../resources/plugins/backstretch/jquery.backstretch.min.js"
		th:src="@{/resources/plugins/backstretch/jquery.backstretch.min.js}"
		type="text/javascript"></script>
	<script type="text/javascript"
		src="../resources/plugins/select2/select2.min.js"
		th:src="@{/resources/plugins/select2/select2.min.js}"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="../resources/scripts/metronic.js"
		th:src="@{/resources/scripts/metronic.js}" type="text/javascript"></script>
	<script src="../resources/scripts/layout/layout.js"
		th:src="@{/resources/scripts/layout/layout.js}" type="text/javascript"></script>
	<script src="../resources/scripts/layout/demo.js"
		th:src="@{/resources/scripts/layout/demo.js}" type="text/javascript"></script>
	<script src="../resources/scripts/pages/login-soft.js"
		th:src="@{/resources/scripts/pages/login-soft.js}"
		type="text/javascript"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
		var relativeLoc=window.location;
		console.log(relativeLoc);
		
		jQuery(document).ready(
				function() {
					Metronic.init(); // init metronic core components
					Layout.init(); // init current layout
					Login.init();
					Demo.init();
					// init background slide images
					$.backstretch([
					        "/sustaes/resources/img/1.png",
					        "/sustaes/resources/img/2.png",
							"/sustaes/resources/img/3.png",
							"/sustaes/resources/img/4.png" ], {
						fade : 1000,
						duration : 8000
					});
				});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>