<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title>LOGIN</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/> -->
<link href="../resources/plugins/font-awesome/css/font-awesome.min.css"
	th:href="@{/resources/plugins/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	href="../resources/plugins/simple-line-icons/simple-line-icons.min.css"
	th:href="@{/resources/plugins/simple-line-icons/simple-line-icons.min.css}"
	rel="stylesheet" type="text/css" />
<link href="../resources/plugins/bootstrap/css/bootstrap.min.css"
	th:href="@{/resources/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link href="../resources/plugins/uniform/css/uniform.default.css"
	th:href="@{/resources/plugins/uniform/css/uniform.default.css}"
	rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../resources/plugins/select2/select2.css"
	th:href="@{/resources/plugins/select2/select2.css}" rel="stylesheet"
	type="text/css" />
<link href="../resources/css/pages/login-soft.css"
	th:href="@{/resources/css/pages/login-soft.css}" rel="stylesheet"
	type="text/css" />
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="../resources/css/components.css"
	th:href="@{/resources/css/components.css}" id="style_components"
	rel="stylesheet" type="text/css" />
<link href="../resources/css/plugins.css"
	th:href="@{/resources/css/plugins.css}" rel="stylesheet"
	type="text/css" />
<link href="../resources/css/layout/layout.css"
	th:href="@{/resources/css/layout/layout.css}" rel="stylesheet"
	type="text/css" />
<link id="style_color" href="../resources/css/layout/darkblue.css"
	th:href="@{/resources/css/layout/darkblue.css}" rel="stylesheet"
	type="text/css" />
<link href="../resources/css/layout/custom.css"
	th:href="@{/resources/css/layout/custom.css}" rel="stylesheet"
	type="text/css" />
<!-- END THEME STYLES -->
<!-- <link rel="shortcut icon" href="favicon.ico"/> -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="index.html"> <!--<img src="../resources/assets/admin/layout/img/logo-big.png" alt=""/>-->
		</a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler"></div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<div th:if="${message}" class="alert alert-info">
			<p th:text="${message}"></p>
		</div>
		<a href="/" th:href="@{/}">Home</a>

	</div>

	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
	<script src="../resources/plugins/jquery.min.js"
		th:src="@{/resources/plugins/jquery.min.js}" type="text/javascript"></script>
	<script src="../resources/plugins/jquery-migrate.min.js"
		th:src="@{/resources/plugins/jquery-migrate.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/bootstrap/js/bootstrap.min.js"
		th:src="@{/resources/plugins/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/jquery.blockui.min.js"
		th:src="@{/resources/plugins/jquery.blockui.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/uniform/jquery.uniform.min.js"
		th:src="@{/resources/plugins/uniform/jquery.uniform.min.js}"
		type="text/javascript"></script>
	<script src="../resources/plugins/jquery.cokie.min.js"
		th:src="@{/resources/plugins/jquery.cokie.min.js}"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script
		src="../resources/plugins/jquery-validation/js/jquery.validate.min.js"
		th:src="@{/resources/plugins/jquery-validation/js/jquery.validate.min.js}"
		type="text/javascript"></script>
	<script
		src="../resources/plugins/backstretch/jquery.backstretch.min.js"
		th:src="@{/resources/plugins/backstretch/jquery.backstretch.min.js}"
		type="text/javascript"></script>
	<script type="text/javascript"
		src="../resources/plugins/select2/select2.min.js"
		th:src="@{/resources/plugins/select2/select2.min.js}"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="../resources/scripts/metronic.js"
		th:src="@{/resources/scripts/metronic.js}" type="text/javascript"></script>
	<script src="../resources/scripts/layout/layout.js"
		th:src="@{/resources/scripts/layout/layout.js}" type="text/javascript"></script>
	<script src="../resources/scripts/layout/demo.js"
		th:src="@{/resources/scripts/layout/demo.js}" type="text/javascript"></script>
	<script src="../resources/scripts/pages/login-soft.js"
		th:src="@{/resources/scripts/pages/login-soft.js}"
		type="text/javascript"></script>
	<!-- END PAGE LEVEL SCRIPTS -->

	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>