
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Student :: Profile</title>
</head>
<body>
	<section layout:fragment="body-content">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="tab-pane">
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-equalizer font-red-sunglo"></i> <span
									class="caption-subject font-red-sunglo bold uppercase">Student
									Profile Create/Edit Form</span>
							</div>
							<div class="tools">
								<a href="" class="collapse"> </a> <a href="#portlet-config"
									data-toggle="modal" class="config"> </a> <a href=""
									class="reload"> </a> <a href="" class="remove"> </a>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form th:action="@{/student/profile/edit}"  method="POST"
								class="form-horizontal">

								<input name="userId.userId" type="hidden" class="form-control"
									th:value="${student.userId.userId}" /> <input
									name="studentId" type="hidden" class="form-control"
									th:value="${student.studentId}" />

								<div class="form-body">
									<h3 class="form-section">Person Info</h3>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">First Name</label>
												<div class="col-md-9">
													<input type="text" name="firstName" class="form-control"
														placeholder="Biswajit" />
													<!-- span class="help-block">
														This is inline help </span> -->
												</div>
											</div>
										</div>
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Last Name</label>
												<div class="col-md-9">
													<input type="text" name="lastName" class="form-control"
														placeholder="Debnath" />
													<!-- span class="help-block">
														This is inline help </span> -->
												</div>
											</div>
										</div>
										<!--/span-->
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Registration
													Number</label>
												<div class="col-md-9">

													<input type="text" name="registrationNo"
														class="form-control" max="10" placeholder="2011331009" />
													<!-- <span class="help-block">
														This is inline help </span> -->

												</div>
											</div>
										</div>
									</div>
									<!--/row-->
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Dept ID</label>
												<div class="col-md-9">

													<!-- <span class="help-block"> Select your gender. </span> -->
													<select name="deptId.deptId" class="form-control">
														<option th:each="dept : ${departmentList}"
															th:value="${dept.deptId}"
															th:text="${dept.deptName}+'('+${dept.deptCode}+')'"></option>
													</select>
												</div>
											</div>

										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Blood Group</label>
												<div class="col-md-9">
													<select name="bloodGroup" class="form-control">
														<option value="A+">A+</option>
														<option value="B+">B+</option>
														<option value="O+">O+</option>
														<option value="AB+">AB+</option>
														<option value="A-">A-</option>
														<option value="B-">B-</option>
														<option value="">O-</option>
														<option value="">AB-</option>
													</select>
													<!-- <span class="help-block"> Select your gender. </span> -->
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Contact No.</label>
												<div class="col-md-9">
													<input name="contactNo" type="text" class="form-control"
														placeholder="01*********" />
												</div>
											</div>
										</div>
										<!--/span-->
									</div>
									<!--/row-->
									<div class="row">
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Maretial
													Status</label>
												<div class="col-md-9">
													<select name="maritalStatus" class="form-control">
														<option value="Single">Single</option>
														<option value="Married">Married</option>
													</select>
													<!-- <span class="help-block"> Select your gender. </span> -->
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Gender</label>
												<div class="col-md-9">
													<select name="gender" class="form-control">
														<option value="Male">Male</option>
														<option value="Female">Female</option>
														<option value="Others">Others</option>
													</select>
													<!-- <span class="help-block"> Select your gender. </span> -->
												</div>
											</div>
										</div>
										<!--/span-->
									</div>
									<div class="row">
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Email</label>
												<div class="col-md-9">
													<input type="text" name="email" class="form-control"
														placeholder="abc@gmail.com" />
												</div>
											</div>
										</div>
										<!--/span-->
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Religion</label>
												<div class="col-md-9">
													<select name="religion" class="form-control">
														<option value="Islam">Islam</option>
														<option value="Hindu">Hindu</option>
														<option value="Buddist">Buddist</option>
														<option value="Chistian">Christian</option>
														<option value="Atheist">Atheist</option>
														<option value="Others">Others</option>
													</select>
													<!-- <span class="help-block"> Select your gender. </span> -->
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Date of Birth</label>
												<div class="col-md-9">
													<input name="dateOfBirth" type="text" class="form-control form-control-inline input-medium date-picker"
														 maxlength="100" placeholder="dd/mm/yyyy"  />
													<!-- <span class="help-block"> Select your gender. </span> -->
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Address</label>
												<div class="col-md-9">
													<textarea name="address" class="form-control"
														maxlength="100" placeholder="text"></textarea>
													<!-- <span class="help-block"> Select your gender. </span> -->
												</div>
											</div>
										</div>
									</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-offset-3 col-md-9">
														<button type="submit" class="btn green">Save</button>
														<button type="button" class="btn default">Cancel</button>
													</div>
												</div>
											</div>
											<div class="col-md-6"></div>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
