
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<script type="text/javascript">
	function addQuestions(var id) {
		document.getElementById(id).hide();
	}
	function removeQuestions(var id) {
		document.getElementById(id).show();
	}
</script>
<head>
<title>Student :: Profile</title>
</head>
<body>
	<section layout:fragment="body-content">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="tab-pane">
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-equalizer font-red-sunglo"></i> <span
									class="caption-subject font-red-sunglo bold uppercase">Assign
									Question To Exam</span>
							</div>
							<div class="tools">
								<a href="" class="collapse"> </a> <a href="#portlet-config"
									data-toggle="modal" class="config"> </a> <a href=""
									class="reload"> </a> <a href="" class="remove"> </a>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form th:action="@{/question/add}" method="POST"
								class="form-horizontal">
								<div class="form-body">
									<h3 class="form-section">Questions</h3>
									<!--/row-->
									<div class="row">

										<div class="col-md-6 col-sm-12">
											<!-- BEGIN PORTLET-->
											<div class="portlet light tasks-widget"
												style="background: rgba(223, 240, 216, 0.40);">
												<div class="portlet-title">

													<div class="caption caption-md">
														<i class="icon-bar-chart theme-font-color hide"></i> <span
															class="caption-subject theme-font-color bold uppercase">Available
															Questions</span>
													</div>

													<div class="inputs">
														<div class="portlet-input input-small input-inline">
															<div class="input-icon right">
																<!-- <a th:href="@{/question/create}" class="btn red">
																	New Question <i class="fa fa-plus"></i>
																</a> -->

																<button type="button"
																	class="btn green-haze btn-sm dropdown-toggle"
																	data-toggle="dropdown" data-hover="dropdown"
																	data-close-others="true">
																	<i class="fa fa-plus"></i> New Question&nbsp; <span
																		class="hidden-sm hidden-xs"> </span><i
																		class="fa fa-angle-down"></i>
																</button>

																<ul class="dropdown-menu" role="menu">
																	<li><a th:href="@{/question/create/mcq}"> MCQ
																	</a></li>
																	<li><a href="javascript:;"> DESCRIPTIVE </a></li>
																	<li><a th:href="@{/question/create/fig}"> FILL
																			IN THE BLANKS</a></li>
																</ul>
															</div>

														</div>
													</div>
												</div>

												<div class="portlet-body">
													<div class="task-content note-success">
														<div class="scroller" style="height: 282px;"
															data-always-visible="1" data-rail-visible1="0"
															data-handle-color="#D7DCE2">
															<!-- START TASK LIST -->
															<ul class="task-list">

																<li>
																	<div class="task-checkbox">
																		<!-- 																	<input type="checkbox" class="liChild" value=""/> -->
																		<p>1.</p>
																	</div>
																	<div class="task-title">
																		<span class="task-title-sp"> What is multiple
																			questions? </span>
																	</div>
																	<div class="task-config">
																		<div class="task-config-btn btn-group">
																			<a class="btn btn-xs default" href="javascript:;"
																				data-toggle="dropdown" data-hover="dropdown"
																				data-close-others="true"> <i class="fa fa-cog"></i><i
																				class="fa fa-angle-down"></i>
																			</a>
																			<ul class="dropdown-menu pull-right">
																				<li><a href="javascript:;" onclick=""> <i
																						class="fa fa-check"></i> Add
																				</a></li>
																				<li><a href="javascript:;"> <i
																						class="fa fa-times"></i> Remove
																				</a></li>
																				<li><a href="javascript:;"> <i
																						class="fa fa-info"></i> Details
																				</a></li>

																			</ul>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="task-checkbox">
																		<!-- 																	<input type="checkbox" class="liChild" value=""/> -->
																		<p>2.</p>
																	</div>
																	<div class="task-title">
																		<span class="task-title-sp"> What is fill in
																			the gaps? </span>
																	</div>
																	<div class="task-config">
																		<div class="task-config-btn btn-group">
																			<a class="btn btn-xs default" href="javascript:;"
																				data-toggle="dropdown" data-hover="dropdown"
																				data-close-others="true"> <i class="fa fa-cog"></i><i
																				class="fa fa-angle-down"></i>
																			</a>
																			<ul class="dropdown-menu pull-right">
																				<li><a href="javascript:;"> <i
																						class="fa fa-check"></i> Add
																				</a></li>
																				<li><a href="javascript:;"> <i
																						class="fa fa-times"></i> Remove
																				</a></li>
																				<li><a href="javascript:;"> <i
																						class="fa fa-info"></i> Details
																				</a></li>
																			</ul>
																		</div>
																	</div>
																</li>
															</ul>
															<!-- END START TASK LIST -->
														</div>
													</div>

												</div>
											</div>
											<!-- END PORTLET-->


										</div>

										<!-- This module for exam added question -->
										<div class="col-md-6 col-sm-12">
											<!-- BEGIN PORTLET-->
											<div class="portlet light tasks-widget"
												style="background: rgba(223, 240, 216, 0.40);">
												<div class="portlet-title">
													<div class="caption caption-md">
														<i class="icon-bar-chart theme-font-color hide"></i> <span
															class="caption-subject theme-font-color bold uppercase">Exam
															Questions</span>
													</div>
													<div class="inputs">
														<div class="portlet-input input-small input-inline">
															<div class="input-icon right">

																<!-- 	<a href="#" class="btn green"> New Question <i -->
																<!-- 	class="fa fa-plus"></i> -->
																<!-- 	</a> -->
															</div>
														</div>
													</div>
												</div>

												<div class="portlet-body">
													<div class="task-content">
														<div class="scroller" style="height: 282px;"
															data-always-visible="1" data-rail-visible1="0"
															data-handle-color="#D7DCE2">
															<!-- START TASK LIST -->
															<ul class="task-list">

																<li>
																	<div class="task-checkbox">
																		<!--<input type="checkbox" class="liChild" value=""/> -->
																		<p>1.</p>
																	</div>
																	<div class="task-title">
																		<span class="task-title-sp"> What is multiple
																			questions? </span>
																	</div>
																	<div class="task-config">
																		<div class="task-config-btn btn-group">
																			<a class="btn btn-xs default" href="javascript:;"
																				data-toggle="dropdown" data-hover="dropdown"
																				data-close-others="true"> <i class="fa fa-cog"></i><i
																				class="fa fa-angle-down"></i>
																			</a>
																			<ul class="dropdown-menu pull-right">

																				<li><a href="javascript:;"> <i
																						class="fa fa-times"></i> Remove
																				</a></li>
																				<li><a href="javascript:;"> <i
																						class="fa fa-info"></i> Details
																				</a></li>

																			</ul>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="task-checkbox">
																		<!-- 																	<input type="checkbox" class="liChild" value=""/> -->
																		<p>2.</p>
																	</div>
																	<div class="task-title">
																		<span class="task-title-sp"> What is fill in
																			the gaps? </span>
																	</div>
																	<div class="task-config">
																		<div class="task-config-btn btn-group">
																			<a class="btn btn-xs default" href="javascript:;"
																				data-toggle="dropdown" data-hover="dropdown"
																				data-close-others="true"> <i class="fa fa-cog"></i><i
																				class="fa fa-angle-down"></i>
																			</a>
																			<ul class="dropdown-menu pull-right">

																				<li><a href="javascript:;"> <i
																						class="fa fa-times"></i> Remove
																				</a></li>
																				<li><a href="javascript:;"> <i
																						class="fa fa-info"></i> Details
																				</a></li>
																			</ul>
																		</div>
																	</div>
																</li>
															</ul>
															<!-- END START TASK LIST -->
														</div>
													</div>
												</div>
											</div>
											<!-- END PORTLET-->
										</div>
									</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-offset-9 col-md-3">
												<button type="submit" class="btn green">Save</button>
												<button type="button" class="btn default">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
