
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Question :: Creation</title>
</head>
<body>
	<section layout:fragment="body-content">

		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="row margin-top-10">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="dashboard-stat2">
							<div class="display">
								<div class="number">
									<h3 class="font-green-sharp"
										th:text="${usersCount}!=null?${usersCount}:0"></h3>
									<small>MCQ</small>
								</div>

							</div>
							<a class="more" href="#form_modal10" data-toggle="modal"> Add
								More </a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="dashboard-stat2">
							<div class="display">
								<div class="number">
									<h3 class="font-red-haze"
										th:text="${verificationsNeed}!=null?${verificationsNeed}:0"></h3>
									<small>DESCRIPTIVE</small>
								</div>

							</div>
							<a class="more" href="#form_modal11" data-toggle="modal"> Add
								More </a>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="dashboard-stat2">
							<div class="display">
								<div class="number">
									<h3 class="font-red-haze"
										th:text="${verificationsNeed}!=null?${verificationsNeed}:0"></h3>
									<small>FILL IN THE GAPS</small>
								</div>

							</div>
							<a class="more" href="#form_modal12" data-toggle="modal"> Add
								More </a>
						</div>
					</div>

				</div>
				<div class="tab-pane">
					<div class="portlet-body form">

						<!--MODAL FORM SAMPLE START-->
						<!--MCQ MODAL-->
						<div id="form_modal10" class="modal fade" role="dialog"
							aria-labelledby="myModalLabel10" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true"></button>
										<h3 class="modal-title">
											<strong>MCQ QUESTION FORM</strong>
										</h3>
									</div>
									<div class="modal-body">
										<form class="form-horizontal" role="form">

											<div class="form-body">


												<div class="form-group">
													<label class="control-label col-md-3">Course</label>
													<div class="col-md-8">
														<select name="teachesId.teachesId" class="form-control">
															<option th:each="teaches : ${teachesList}"
																th:value="${teaches?.teachesId}"
																th:text="'['+${teaches?.courseId?.courseCode}+'] '+${teaches?.courseId?.courseTitle}"></option>
														</select>
														<!-- <span class="help-block"> Select your gender. </span> -->

													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label">Question</label>
													<div class="col-md-8">
														<input type="text" class="form-control input-md" />
														<p>
															<strong>Note: </strong> Keep fields blank if doesn't want
															to give more options!
														</p>
													</div>
													<div class="col-md-1"></div>
												</div>


												<div class="form-group">
													<label class="col-md-3 control-label">Option 1</label>
													<div class="row">
														<div class="col-md-offset-1 col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" /> <span
																	class="input-group-addon"> <input
																	type="checkbox" />
																</span>
															</div>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label">Option 2</label>
													<div class="row">
														<div class="col-md-offset-1 col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" /> <span
																	class="input-group-addon"> <input
																	type="checkbox" />
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Option 3</label>
													<div class="row">
														<div class="col-md-offset-1 col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" /> <span
																	class="input-group-addon"> <input
																	type="checkbox" />
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Option 4</label>
													<div class="row">
														<div class="col-md-offset-1 col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" /> <span
																	class="input-group-addon"> <input
																	type="checkbox" />
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Option 5</label>
													<div class="row">
														<div class="col-md-offset-1 col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" /> <span
																	class="input-group-addon"> <input
																	type="checkbox" />
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label"><strong><em>Mark</em></strong></label>
															<div class="row">
																<div class="col-md-7">
																	<div class="input-group">
																		<input placeholder="Mark" type="text"
																			class="form-control" />

																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label"><strong><em>Time</em></strong></label>
															<div class="row">
																<div class="col-md-7">
																	<div class="input-group">
																		<input placeholder="Time" type="text"
																			class="form-control" />

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button class="btn default" data-dismiss="modal"
											aria-hidden="true">Close</button>
										<button class="btn green" data-dismiss="modal">Save
											changes</button>
									</div>
								</div>
							</div>
						</div>
						<!--DESCRIPTIVE MODAL-->
						<div id="form_modal11" class="modal fade" role="dialog"
							aria-labelledby="myModalLabel10" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true"></button>
										<h3 class="modal-title">
											<strong>DESCRIPTIVE QUESTION FORM</strong>
										</h3>
									</div>
									<div class="modal-body">
										<form class="form-horizontal" role="form">
											<div class="form-body">

												<div class="form-group">
													<label class="control-label col-md-3">Course</label>
													<div class="col-md-8">
														<select name="teachesId.teachesId" class="form-control">
															<option th:each="teaches : ${teachesList}"
																th:value="${teaches?.teachesId}"
																th:text="'['+${teaches?.courseId?.courseCode}+'] '+${teaches?.courseId?.courseTitle}"></option>
														</select>
														<!-- <span class="help-block"> Select your gender. </span> -->

													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label"> Question </label>
													<div class="col-md-8">
														<input type="text" class="form-control input-md" />
													</div>
												</div>
												<div class="form-group">
													<!-- <label class="col-md-3 control-label">Option 1</label> -->
													<div class="row">
														<div class="col-md-offset-1 col-md-10">
															<!-- 																		<div class="input-group"> -->

															<textarea style="resize: vertical;" class="form-control"
																rows="10" cols="24"
																placeholder="Answer the following question"></textarea>
															<!-- 																		</div> -->
														</div>
													</div>
												</div>




											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-3 control-label"><strong><em>Mark</em></strong></label>
														<div class="row">
															<div class="col-md-7">
																<div class="input-group">
																	<input placeholder="Mark" type="text"
																		class="form-control" />

																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-3 control-label"><strong><em>Time</em></strong></label>
														<div class="row">
															<div class="col-md-7">
																<div class="input-group">
																	<input placeholder="Time" type="text"
																		class="form-control" />

																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button class="btn default" data-dismiss="modal"
											aria-hidden="true">Close</button>
										<button class="btn green" data-dismiss="modal">Save
											changes</button>
									</div>
								</div>
							</div>
						</div>
						<!--FILL IN GAPS MODAL-->
						<div id="form_modal12" class="modal fade" role="dialog"
							aria-labelledby="myModalLabel10" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true"></button>
										<h3 class="modal-title">
											<strong>FILL IN THE GAPS QUESTION FORM</strong>
										</h3>
									</div>
									<div class="modal-body">
										<form class="form-horizontal" role="form">
											<div class="form-body">

												<div class="form-group">
													<label class="control-label col-md-3">Course</label>
													<div class="col-md-8">
														<select name="teachesId.teachesId" class="form-control">
															<option th:each="teaches : ${teachesList}"
																th:value="${teaches?.teachesId}"
																th:text="'['+${teaches?.courseId?.courseCode}+'] '+${teaches?.courseId?.courseTitle}"></option>
														</select>
														<!-- <span class="help-block"> Select your gender. </span> -->

													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label"> <strong>Question</strong>
													</label>
													<div class="col-md-8">
														<input type="text" class="form-control input-md" />
														<p>
															<strong> Example: </strong> What __(A)__ language do you
															__(B)__ ?
														</p>
														<p>
															<strong>Note: </strong> Keep fields blank if havn't
															enough gaps in question!
														</p>
													</div>
												</div>


												<div class="form-group">
													<label class="col-md-2 control-label"><strong><em>A.</em></strong></label>
													<div class="row">
														<div class="col-md-8">
															<div class="input-group">
																<input placeholder="type this answer" type="text"
																	class="form-control" />
															</div>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-2 control-label"><strong><em>B.</em></strong></label>
													<div class="row">
														<div class="col-md-8">
															<div class="input-group">
																<input placeholder="type this answer" type="text"
																	class="form-control" />

															</div>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-2 control-label"><strong><em>C.</em></strong></label>
													<div class="row">
														<div class="col-md-8">
															<div class="input-group">
																<input placeholder="type this answer" type="text"
																	class="form-control" />

															</div>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-2 control-label"><strong><em>D.</em></strong></label>
													<div class="row">
														<div class="col-md-8">
															<div class="input-group">
																<input placeholder="type this answer" type="text"
																	class="form-control" />

															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label"><strong><em>Mark</em></strong></label>
															<div class="row">
																<div class="col-md-7">
																	<div class="input-group">
																		<input placeholder="Mark" type="text"
																			class="form-control" />

																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label"><strong><em>Time</em></strong></label>
															<div class="row">
																<div class="col-md-7">
																	<div class="input-group">
																		<input placeholder="Time" type="text"
																			class="form-control" />

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
										</form>
									</div>

									<div class="modal-footer">
										<button class="btn default" data-dismiss="modal"
											aria-hidden="true">Close</button>
										<button class="btn green" data-dismiss="modal">Save
											changes</button>
									</div>
								</div>
							</div>
						</div>
						<!--MODAL FORM SAMPLE END-->
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
