
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Student :: Question</title>

<script th:src="@{/resources/scripts/pages/question/mcq.js}"
	type="text/javascript"></script>

<script th:src="@{/resources/scripts/pages/question/fig.js}"
	type="text/javascript"></script>

<script th:src="@{/resources/scripts/pages/question/desc.js}"
	type="text/javascript"></script>


<script th:src="@{/resources/scripts/pages/question/add-remove.js}"
	type="text/javascript"></script>
<script th:src="@{/resources/scripts/pages/question/append-question.js}"
	type="text/javascript"></script>

</head>
<body>
	<section layout:fragment="body-content">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="tab-pane">
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-equalizer font-red-sunglo"></i> <span
									class="caption-subject font-red-sunglo bold uppercase">Assign
									Question To Exam</span>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form th:action="@{/quiz/question/assignto}" method="GET">
								<!-- 							<form action="#" method="GET" class="form-horizontal"> -->
								<div class="form-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<h4 class="control-label col-md-3">
													<strong>QUIZ TITLE:</strong>
												</h4>
												<div class="col-md-9">
													<h4 class="form-control-static">
														<strong th:text="${quiz?.quizTitle}"> <input
															type="hidden" id="quizId" th:value="${quiz.quizId}" />
														</strong>
													</h4>
												</div>
											</div>
										</div>
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<h4 class="control-label col-md-3">
													<strong>COURSE:</strong>
												</h4>
												<div class="col-md-9">
													<h4 class="form-control-static">
														<strong
															th:text="'['+${quiz?.teachesId?.courseId?.courseCode}+'] '+${quiz?.teachesId?.courseId?.courseTitle}">[CSE333]
															Database</strong>
													</h4>
													<input id="courseId" type="hidden"
														th:value="${quiz?.teachesId?.courseId?.courseId}" />
												</div>
											</div>
										</div>
									</div>

									<!--/row-->
									<div class="row">

										<div class="col-md-6 col-sm-12">
											<!-- BEGIN PORTLET-->
											<div class="portlet light tasks-widget"
												style="background: rgba(223, 240, 216, 0.40);">
												<div class="portlet-title">

													<div class="caption caption-md">
														<i class="icon-bar-chart theme-font-color hide"></i> <span
															class="caption-subject theme-font-color bold uppercase">Available
															Questions</span>
													</div>

													<div class="inputs">
														<div class="portlet-input input-small input-inline">
															<div class="input-icon right">
																<!-- <a th:href="@{/question/create}" class="btn red">
																	New Question <i class="fa fa-plus"></i>
																</a> -->

																<button type="button"
																	class="btn green-haze btn-sm dropdown-toggle"
																	data-toggle="dropdown" data-hover="dropdown"
																	data-close-others="true">
																	<i class="fa fa-plus"></i> New Question&nbsp; <span
																		class="hidden-sm hidden-xs"> </span><i
																		class="fa fa-angle-down"></i>
																</button>

																<ul class="dropdown-menu" role="menu">
																	<li><a href="#form_modal10" data-toggle="modal">
																			MCQ </a></li>
																	<li><a href="#form_modal11" data-toggle="modal">
																			DESCRIPTIVE </a></li>
																	<li><a href="#form_modal12" data-toggle="modal">
																			FILL IN THE GAPS </a></li>

																</ul>

															</div>

														</div>
													</div>
												</div>

												<div class="portlet-body">
													<div id="quess" class="task-content note-success">
														<div class="scroller" style="height: 282px;"
															data-always-visible="1" data-rail-visible1="0"
															data-handle-color="#D7DCE2">
															<!-- START TASK LIST -->
															<ul id="question-bank" class="task-list">

																<li th:id="'question-'+${q.questionId}"
																	th:each="q, iterStat : ${availableQuestionList}">
																	<div class="task-checkbox">
																		<!-- 																		<input type="checkbox" class="liChild" value="" /> -->
																		<p th:text="${iterStat.count}">1.</p>
																		<!-- 																		<p >100.</p> -->

																	</div>
																	<div class="task-title">
																		<span class="task-title-sp"
																			th:text="${q.questionText}"> What is fill in
																			the gaps? <input type="hidden"
																			th:field="*{quizQuestionList[__${iterStat.index}__].questionId}"
																			th:value="${q.questionId}" /> <input type="hidden"
																			th:field="*{quizQuestionList[__${iterStat.index}__].quizId}"
																			th:value="${quiz.quizId}" />
																		</span>
																	</div>
																	<div class="task-config">
																		<div class="task-config-btn btn-group">
																			<a class="btn btn-xs default" href="javascript:;"
																				data-toggle="dropdown" data-hover="dropdown"
																				data-close-others="true"> <i class="fa fa-cog"></i><i
																				class="fa fa-angle-down"></i>
																			</a>

																			<ul class="dropdown-menu pull-right">
																				<li th:id="'add-'+${q.questionId}"><a
																					th:id="'addButton'+${q.questionId}"
																					th:name="'addButton'+${q.questionId}" type="button"
																					th:onclick="'addQuestions('+${q.questionId}+')'">
																						<i class="fa fa-plus"></i> Add
																				</a></li>
																				<li style="display: none;"
																					th:id="'remove-'+${q.questionId}"><a
																					th:id="'removeButton'+${q.questionId}"
																					th:name="'removeButton'+${q.questionId}"
																					type="button"
																					th:onclick="'removeQuestions('+${q.questionId}+')'">
																						<i class="fa fa-times"></i> Remove
																				</a></li>
																				<li><a href="javascript:;"> <i
																						class="fa fa-info"></i> Details
																				</a></li>
																			</ul>
																		</div>
																	</div>
																</li>
															</ul>
															<!-- END START TASK LIST -->
														</div>
													</div>

												</div>
											</div>
											<!-- END PORTLET-->


										</div>

										<!-- This module for exam added question -->
										<div class="col-md-6 col-sm-12">
											<!-- BEGIN PORTLET-->
											<div class="portlet light tasks-widget"
												style="background: rgba(223, 240, 216, 0.40);">
												<div class="portlet-title">
													<div class="caption caption-md">
														<i class="icon-bar-chart theme-font-color hide"></i> <span
															class="caption-subject theme-font-color bold uppercase">Exam
															Questions</span>
													</div>
													<div class="inputs">
														<div class="portlet-input input-small input-inline">
															<div class="input-icon right">

																<!-- 	<a href="#" class="btn green"> New Question <i -->
																<!-- 	class="fa fa-plus"></i> -->
																<!-- 	</a> -->
															</div>
														</div>
													</div>
												</div>

												<div class="portlet-body">
													<div class="task-content">
														<div class="scroller" style="height: 282px;"
															data-always-visible="1" data-rail-visible1="0"
															data-handle-color="#D7DCE2">
															<!-- START TASK LIST -->
															<ul id="quiz-question" class="task-list">


															</ul>
															<!-- END START TASK LIST -->
														</div>
													</div>
												</div>
											</div>
											<!-- END PORTLET-->
										</div>
									</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-offset-9 col-md-3">
												<button type="submit" class="btn green">Save</button>
												<button type="button" class="btn default">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->

							<!--MODAL FORM SAMPLE START-->
							<!--MCQ MODAL START-->
							<div id="form_modal10" class="modal fade" role="dialog"
								aria-labelledby="myModalLabel10" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true"></button>
											<h3 class="modal-title">
												<strong>MCQ QUESTION FORM</strong>
											</h3>
										</div>
										<div class="modal-body">
											<form id="mcq-question-form" class="form-horizontal"
												role="form">
												<div class="form-body">
													<div class="form-group">
														<label class="col-md-3 control-label">Question</label>
														<div class="col-md-8">
															<input id="mcq-question-text" type="text"
																class="form-control input-md" />
															<p>
																<strong>Note: </strong> Keep fields blank if doesn't
																want to give more options!
															</p>
														</div>
														<div class="col-md-1"></div>
													</div>


													<div class="form-group">
														<label class="col-md-3 control-label">Option 1</label>
														<div class="row">
															<div class="col-md-offset-1 col-md-6">
																<div class="input-group">
																	<input id="mcq-opt-0-text" type="text"
																		class="form-control" /> <span
																		class="input-group-addon"> <input
																		id="mcq-opt-0-answer" type="checkbox" />
																	</span>
																</div>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="col-md-3 control-label">Option 2</label>
														<div class="row">
															<div class="col-md-offset-1 col-md-6">
																<div class="input-group">
																	<input id="mcq-opt-1-text" type="text"
																		class="form-control" /> <span
																		class="input-group-addon"> <input
																		id="mcq-opt-1-answer" type="checkbox" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-3 control-label">Option 3</label>
														<div class="row">
															<div class="col-md-offset-1 col-md-6">
																<div class="input-group">
																	<input id="mcq-opt-2-text" type="text"
																		class="form-control" /> <span
																		class="input-group-addon"> <input
																		id="mcq-opt-2-answer" type="checkbox" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-3 control-label">Option 4</label>
														<div class="row">
															<div class="col-md-offset-1 col-md-6">
																<div class="input-group">
																	<input id="mcq-opt-3-text" type="text"
																		class="form-control" /> <span
																		class="input-group-addon"> <input
																		id="mcq-opt-3-answer" type="checkbox" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-3 control-label">Option 5</label>
														<div class="row">
															<div class="col-md-offset-1 col-md-6">
																<div class="input-group">
																	<input id="mcq-opt-4-text" type="text"
																		class="form-control" /> <span
																		class="input-group-addon"> <input
																		id="mcq-opt-4-answer" type="checkbox" />
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="col-md-3 control-label"><strong><em>Mark</em></strong></label>
																<div class="row">
																	<div class="col-md-7">
																		<div class="input-group">
																			<input id="mcq-marks" placeholder="Mark" type="text"
																				class="form-control" />

																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="col-md-3 control-label"><strong><em>Time</em></strong></label>
																<div class="row">
																	<div class="col-md-7">
																		<div class="input-group">
																			<input id="mcq-time" placeholder="In Seconds..."
																				type="text" class="form-control" />

																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button class="btn default" data-dismiss="modal"
												aria-hidden="true">Close</button>
											<button class="btn green" data-dismiss="modal"
												onclick="submitMCQ()">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<!-- MCQ MODAL END -->
							<!-- DESCRIPTIVE MODAL START -->
							<div id="form_modal11" class="modal fade" role="dialog"
								aria-labelledby="myModalLabel10" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true"></button>
											<h3 class="modal-title">
												<strong>DESCRIPTIVE QUESTION FORM</strong>
											</h3>
										</div>
										<div class="modal-body">
											<form class="form-horizontal" role="form">
												<div class="form-body">
													<div class="form-group">
														<label class="col-md-3 control-label"> Question </label>
														<div class="col-md-8">
															<input id="desc-question-text" type="text"
																class="form-control input-md" />
														</div>
													</div>
													<div class="form-group">
														<!-- <label class="col-md-3 control-label">Option 1</label> -->
														<div class="row">
															<div class="col-md-offset-1 col-md-10">
																<!-- 																		<div class="input-group"> -->

																<textarea id="desc-answer-text"
																	style="resize: vertical;" class="form-control"
																	rows="10" cols="24"
																	placeholder="Answer the following question"></textarea>
																<!-- 																		</div> -->
															</div>
														</div>
													</div>




												</div>

												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label"><strong><em>Mark</em></strong></label>
															<div class="row">
																<div class="col-md-7">
																	<div class="input-group">
																		<input id="desc-marks" placeholder="Mark" type="text"
																			class="form-control" />

																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label"><strong><em>Time</em></strong></label>
															<div class="row">
																<div class="col-md-7">
																	<div class="input-group">
																		<input id="desc-time" placeholder="In Seconds..."
																			type="text" class="form-control" />

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button class="btn default" data-dismiss="modal"
												aria-hidden="true">Close</button>
											<button class="btn green" data-dismiss="modal"
												onclick="submitDESC()">Save changes</button>
										</div>
									</div>
								</div>
							</div>

							<!-- DESCRIPTIVE MODAL END -->
							<!-- FILL IN THE GAPS MODAL STARTED -->
							<div id="form_modal12" class="modal fade" role="dialog"
								aria-labelledby="myModalLabel10" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true"></button>
											<h3 class="modal-title">
												<strong>FILL IN THE GAPS QUESTION FORM</strong>
											</h3>
										</div>
										<div class="modal-body">
											<form class="form-horizontal" role="form">
												<div class="form-body">
													<div class="form-group">
														<label class="col-md-3 control-label"> <strong>Question</strong>
														</label>
														<div class="col-md-8">
															<input id="fig-question-text" type="text"
																class="form-control input-md" />
															<p>
																<strong> Example: </strong> What __(A)__ language do you
																__(B)__ ?
															</p>
															<p>
																<strong>Note: </strong> Keep fields blank if havn't
																enough gaps in question!
															</p>
														</div>
													</div>


													<div class="form-group">
														<label class="col-md-2 control-label"><strong><em>A.</em></strong></label>
														<div class="row">
															<div class="col-md-8">
																<div class="input-group">
																	<input id="fig-gaps-0-text"
																		placeholder="type this answer" type="text"
																		class="form-control" />
																</div>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="col-md-2 control-label"><strong><em>B.</em></strong></label>
														<div class="row">
															<div class="col-md-8">
																<div class="input-group">
																	<input id="fig-gaps-1-text"
																		placeholder="type this answer" type="text"
																		class="form-control" />

																</div>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="col-md-2 control-label"><strong><em>C.</em></strong></label>
														<div class="row">
															<div class="col-md-8">
																<div class="input-group">
																	<input id="fig-gaps-2-text"
																		placeholder="type this answer" type="text"
																		class="form-control" />

																</div>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="col-md-2 control-label"><strong><em>D.</em></strong></label>
														<div class="row">
															<div class="col-md-8">
																<div class="input-group">
																	<input id="fig-gaps-3-text"
																		placeholder="type this answer" type="text"
																		class="form-control" />

																</div>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="col-md-3 control-label"><strong><em>Mark</em></strong></label>
																<div class="row">
																	<div class="col-md-7">
																		<div class="input-group">
																			<input id="fig-marks" placeholder="Mark" type="text"
																				class="form-control" />

																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="col-md-3 control-label"><strong><em>Time
																	</em></strong></label>
																<div class="row">
																	<div class="col-md-7">
																		<div class="input-group">
																			<input id="fig-time" placeholder="In Seconds..."
																				type="text" class="form-control" />

																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</form>
										</div>

										<div class="modal-footer">
											<button class="btn default" data-dismiss="modal"
												aria-hidden="true">Close</button>
											<button class="btn green" data-dismiss="modal"
												onclick="submitFIG()">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<!-- FILL IN THE GAPS MODAL END -->
							<!-- ALERT MESSAGE MODAL -->
							<div id="success-modal" class="modal fade" role="dialog"
								aria-labelledby="myModalLabel10" aria-hidden="true">
								<div class="modal-dialog">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true"></button>
									</div>
									<div class="note note-success">
										<h4 class="block">Question saved successfully in question
											bank!</h4>
									</div>
									<div class="modal-footer" aria-hidden="true">
										<button class="btn default" data-dismiss="modal"
											aria-hidden="true">Close</button>
									</div>
								</div>
							</div>
							<div id="error-modal" class="modal fade" role="dialog"
								aria-labelledby="myModalLabel10" aria-hidden="true">
								<div class="modal-dialog">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true"></button>
									</div>
									<div class="note note-danger">
										<h4 class="block">Sorry! Question couldn't be saved.</h4>
									</div>
									<div class="modal-footer" aria-hidden="true">
										<button class="btn default" data-dismiss="modal"
											aria-hidden="true">Close</button>
									</div>
								</div>
							</div>
							<!--MODAL FORM SAMPLE END-->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
