
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Quiz :: Create</title>

</head>
<body>
	<section layout:fragment="body-content">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="tab-pane">
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-equalizer font-red-sunglo"></i> <span
									class="caption-subject font-red-sunglo bold uppercase">Quiz
									Create </span>
							</div>
							<div class="tools">
								<a href="" class="collapse"> </a> <a href="#portlet-config"
									data-toggle="modal" class="config"> </a> <a href=""
									class="reload"> </a> <a href="" class="remove"> </a>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form action="#" th:action="@{/quiz/create}" method="POST"
								class="form-horizontal">
								<div class="form-body">
									<h3 class="form-section">Quiz Info</h3>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Quiz Title</label>
												<div class="col-md-9">
													<input type="text" name="quizTitle" class="form-control"
														placeholder="Project 300 Quiz" />
													<!-- span class="help-block">
														This is inline help </span> -->
												</div>
											</div>
										</div>
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Course</label>
												<div class="col-md-9">
													<select name="teachesId.teachesId" class="form-control">
														<option th:each="teaches : ${teachesList}"
															th:value="${teaches.teachesId}"
															th:text="'['+${teaches.courseId.courseCode}+'] '+${teaches.courseId.courseTitle}"></option>
													</select>
													<!-- <span class="help-block"> Select your gender. </span> -->

												</div>
											</div>
										</div>

										<!--/span-->
									</div>
									<!-- row -->

									<!--/row-->
									<div class="row">
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Start-Time </label>
												<div class="col-md-9">

													<div class="input-group date form_meridian_datetime"
														data-date="2012-12-21T15:25:00Z">
														<input name="startTime" type="text" size="16"
															readonly="readonly" class="form-control" /> <span
															class="input-group-btn">
															<button class="btn default date-reset" type="button">
																<i class="fa fa-times"></i>
															</button>
															<button class="btn default date-set" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>

												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">End-Time </label>
												<div class="col-md-9">
													<div class="input-group date form_meridian_datetime"
														data-date="2012-12-21T15:25:00Z">
														<input name="endTime" type="text" size="16"
															readonly="readonly" class="form-control" /> <span
															class="input-group-btn">
															<button class="btn default date-reset" type="button">
																<i class="fa fa-times"></i>
															</button>
															<button class="btn default date-set" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--/row-->
									<div class="row">
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Timer on
													Single Question</label>
												<div class="col-md-9" style="margin-top: 20px;">
													<input type="checkbox" value="true"
														name="isQuestionTimerOn" />
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Total Quiz
													Time</label>
												<div class="col-md-9">
													<input type="text" class="form-control"
														placeholder="In seconds" name="totalTime" />
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Description/Rules</label>
												<div class="col-md-9">
													<textarea name="description" class="form-control" rows="8"
														placeholder="Quiz descriptions/rules goes here"
														maxlength="300"></textarea>
												</div>
											</div>
										</div>
										<!--/span-->
									</div>

									<div class="form-actions">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-offset-3 col-md-9">
														<button type="submit" class="btn green">Create
															Quiz</button>
														<a type="button" th:href="@{/teacher/quiz/dashboard}" class="btn default">Cancel</a>
													</div>
												</div>
											</div>
											<div class="col-md-6"></div>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
