<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Dashboard :: Admin</title>
</head>
<body>
	<section layout:fragment="body-content">
		<div class="page-content-wrapper">
			<div class="page-content">
				<form th:action="@{/admin/verification}"></form>
				<div class="row">
		
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue"
							th:each="nvUser : ${nonVerifiedUsers}">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-edit"></i><span th:text="${nvUser.username}"></span>
								</div>
<!-- 								<div class="tools"> -->
<!-- 									<a href="javascript:;" class="collapse"> </a> <a -->
<!-- 										href="#portlet-config" data-toggle="modal" class="config"> -->
<!-- 									</a> <a href="javascript:;" class="reload"> </a> <a -->
<!-- 										href="javascript:;" class="remove"> </a> -->
<!-- 								</div> -->
							</div>
							<div class="portlet-body">
								<form action="/admin/verification/"
									th:action="@{/admin/verification/}" method="post">
									<input type="hidden" th:value="${nvUser.userId}" name="userId" />
									<input type="hidden" th:value="${nvUser.username}"
										name="username" />
									<div class="form-group">
										<label><input type="checkbox" value="true"
											name="enabled" /><span>enabled</span> </label>
									</div>
									<div class="form-group">
										<label><input type="checkbox" value="true"
											name="accountNonLocked" /><span>accountNonLocked</span> </label>
									</div>
									<div class="form-group">
										<div th:each="role : ${T(com.great.cms.enums.Role).values()}">
											<input type="checkbox" name="role" th:value="${role}" /> <label
												th:text="${role}">example</label>
										</div>
									</div>
									<div class="form-group">
										<label><input type="checkbox" value="true"
											name="accountNonLocked" /><span>accountNonLocked</span> </label>
									</div>

									<div class="form-group">
										<label><input type="checkbox" value="true"
											name="accountNonExpired" /><span>accountNonExpired</span> </label>
									</div>
									<div class="form-group">
										<label><input type="checkbox" value="true"
											name="credentialsNonExpired" /><span>credentialsNonExpired</span>
										</label>
									</div>
									<div>
										<input type="submit"  />
									</div>
								</form>
							</div>
						</div>
						<!-- END SAMPLE TABLE PORTLET-->
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>

