<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Dashboard :: Admin</title>
</head>
<body>
	<section layout:fragment="body-content">
		<div class="page-content-wrapper">
			<div class="page-content">
				<form th:action="@{/teacher/quiz/students/approve}"></form>
				<div class="row">

					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue" th:each="qr : ${quizRegList}">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-edit"></i><span
										th:text="${qr.courseRegId.studentId.firstName}"></span>
								</div>

							</div>
							<div class="portlet-body">
								<form action="/teacher/quiz/students/approve"
									th:action="@{/teacher/quiz/students/approve}" method="post">
									<input type="hidden" th:value="${qr.quizRegistrationId}"
										name="quizRegistrationId" /> <input type="hidden"
										th:value="${qr.courseRegId.courseRegId}"
										name="courseRegId.courseRegId" /> <input type="hidden"
										th:value="${qr.quizId.quizId}" name="quizId.quizId" /> <input
										type="hidden" th:value="${qr.courseRegId.courseRegId}"
										name="courseRegId.courseRegId" />
									<div class="form-group">
										<label><input type="checkbox" value="true"
											th:checked="${qr.isRegApproved}" name="isRegApproved" /><span>Registration
												Approved</span> </label>
									</div>
									<div class="form-group">
										<label><input type="checkbox" value="true"
											th:checked="${qr.isAttended}" name="isAttended" /><span>Attended
												In Quiz</span> </label>
									</div>
									<div class="form-group">
										<label><input type="checkbox" value="true"
											name="isExamReviewed" th:checked="${qr.isExamReviewed}" /><span>Exam
												Reviewed</span> </label>
									</div>

									<div>
										<input type="submit" />
									</div>
								</form>
							</div>
						</div>
						<!-- END SAMPLE TABLE PORTLET-->
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>

